{% extends 'base.html' %}

{% block title %}StreamHub - Streaming Services{% endblock %}

{% block content %}
<h1 class="mb-4">Streaming Services</h1>
<p class="lead mb-5">All your favorite streaming platforms in one convenient place.</p>

<div class="row">
    {% for service in services %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if service.logo %}
            <img src="{{ service.logo.url }}" class="card-img-top service-logo p-3" alt="{{ service.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ service.name }}</h5>
                <p class="card-text">{{ service.description }}</p>
                {% if service.link %}
                <a href="{{ service.link }}" class="btn btn-primary">Launch</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}